# Ignore build-directory
build

# compiled files:
*.o
*.so
*.a
# temporary files:
*.gz
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
# tex files:
*.bbl
*.bcf
*.xml
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.fls
*.fdb_latexmk
*.toc
*.snm
*.vrb
*.lof
# eclipse files:
*.cproject
*.project
# misc:
*.DS_Store
*.git
*.xyz
